@use "../../variables" as *;

nav.base {
	&>ul {
		background-color: $fg-color;
		color: $text-color;
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		overflow: hidden;

		&>li {
			display: inline-block;

			&>a,
			&>button {
				background-color: $fg-color;
				color: $text-color;
				text-decoration: none;
				display: inline-block;
				padding: 8px 16px;
				font-size: 1.5em;
				cursor: pointer;
				border: none;
				border-radius: 0px;

				&:hover {
					background-color: $bg-color;
					color: $text-color;
					border: none;
					border-radius: 0px;
				}
			}
		}
	}
}
