$mobile-breakpoint: 768px;

$raisin-black: #272727;
$jet: #373737;
$silver-chalice: #b3b3b3;
$emerald: #18cd85;
$light-salmon: #ff9670;
$old-gold: #c7b300;
$cultured: #f5f5f5;
$gainsboro: #e1e1e1;
$may-green: #558a49;
$dark-magenta: #901b8c;
$sweet-brown: #a23838;

$font-serif: var(--font-serif);
$font-sans-serif: var(--font-sans-serif);
$font-monospace: var(--font-monospace);
$bg-color: var(--bg-color);
$fg-color: var(--fg-color);
$text-color: var(--text-color);
$highlight-color: var(--highlight-color);
$italic-color: var(--italic-color);
$bold-color: var(--bold-color);
