@import url(https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu%20Mono);

$font-serif: "Times New Roman", serif;
$font-sans-serif: "Ubuntu", "Arial", sans-serif;
$font-monospace: "Ubuntu Mono", "Courier New", monospace;

$mobile-breakpoint: 800px;

$raisin-black: #272727;
$jet: #373737;
$silver-chalice: #B3B3B3;
$emerald: #18CD85;
$light-salmon: #FF9670;
$old-gold: #C7B300;
$cultured: #F5F5F5;
$gainsboro: #E1E1E1;
$may-green: #558A49;
$dark-magenta: #901B8C;
$sweet-brown: #A23838;

$bg-color: var(--bg-color);
$fg-color: var(--fg-color);
$text-color: var(--text-color);
$highlight-color: var(--highlight-color);
$italic-color: var(--italic-color);
$bold-color: var(--bold-color);
