@use "variables" as *;

a.buttonlink {
	color: $fg-text-color;
	background-color: $fg-color;
	border: 1px solid $fg-text-color;
	border-radius: 100px;
	padding: 10px;
	text-decoration: none;

	&:hover {
		color: $fg-color;
		background-color: $fg-text-color;
		border: 1px solid $fg-color;
	}
}
