@use "variables" as *;

nav.topnav {
	ul {
		background-color: $fg-color;
		color: $text-color;
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		overflow: hidden;

		li {

			a,
			button {
				background-color: $fg-color;
				color: $text-color;
				text-decoration: none;
				display: inline-block;
				padding: 8px 16px;
				font-size: 1.5em;

				&:hover {
					background-color: $bg-color;
					color: $text-color;
				}

				&.dropdown-button {
					display: none;
					cursor: pointer;
				}
			}

			button {
				border: none;

				&:hover {
					border: none;
					border-radius: 0px;
				}
			}
		}
	}

	@media screen and (max-width: $mobile-breakpoint) {
		ul li {

			a,
			button {
				&:not(:first-child) {
					display: none;
				}

				&.dropdown-button {
					float: right;
					display: block;
				}
			}
		}

		&.expanded {
			position: relative;

			ul li {

				a,
				button {
					float: none;
					display: block;
					text-align: left;

					&.dropdown-button {
						position: absolute;
						right: 0px;
						top: 0px;
					}
				}
			}
		}
	}
}
