@use "../../variables";

html body a.base {
	color: variables.$text-color;
	background-color: variables.$fg-color;
	border: 1px solid variables.$text-color;
	border-radius: 100px;
	padding: 10px;
	text-decoration: none;

	&:hover {
		color: variables.$fg-color;
		background-color: variables.$text-color;
		border: 1px solid variables.$fg-color;
	}
}