$mobile-breakpoint: 800px;

$raisin-black: #272727;
$jet: #373737;
$silver-chalice: #B3B3B3;
$emerald: #18CD85;
$light-salmon: #FF9670;
$old-gold: #C7B300;
$cultured: #F5F5F5;
$gainsboro: #E1E1E1;
$may-green: #558A49;
$dark-magenta: #901B8C;
$sweet-brown: #A23838;

$font-serif: var(--font-serif);
$font-sans-serif: var(--font-sans-serif);
$font-monospace: var(--font-monospace);
$bg-color: var(--bg-color);
$fg-color: var(--fg-color);
$text-color: var(--text-color);
$highlight-color: var(--highlight-color);
$italic-color: var(--italic-color);
$bold-color: var(--bold-color);
