div#sidenav { display: none; }

@media screen and (min-width: 750px) {
	div#sidenav {
		display: block;
		height: 100%;
		width: var(--sidenav-width);
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: var(--moderate-hex);
		overflow-x: hidden;
		padding-top: 20px;
	}

	div#sidenav a, div#sidenav button.dropdown, div#sidenav div.dropdown-box {
		padding: 6px 8px 6px 16px;
		text-decoration: none;
		font-size: 20pt;
		color: var(--light-hex);
		display: block;
		border: none;
		background: none;
		width: 100%;
		text-align: left;
		cursor: pointer;
		outline: none;
	}

	div#sidenav div.dropdown-box {
		padding: 0px 0px 0px 32px;
		display: none;
	}

	div#sidenav a:hover, div#sidenav button.dropdown:hover, div#sidenav button.dropdown.active {
		background-color: var(--light-hex);
		color: var(--moderate-hex);
	}

	body {
		margin-left: var(--sidenav-width); /* MUST MATCH SIDENAV WIDTH */
		padding: 0px 10px;
		text-align: left;
	}
}
