div#slideshow {
	width: 100%;
	height: auto;
	position: relative;
	display: block;
	margin: auto;
}

div#slideshow div.slide {
	width: inherit;
	height: inherit;
	display: none;
}

div#slideshow div.slide img {
	object-fit: scale-down;
	width: inherit;
	height: inherit;
	display: block;
	max-width: 512px;
	margin: 0 auto;
}

div.slide div.slideCaption {
	color: var(--light-hex);
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

div.slide div.slideNumber {
	color: var(--light-hex);
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

a#previousSlideButton, a#nextSlideButton {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: var(--light-hex);
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	user-select: none;
}

a#previousSlideButton { left: 0; }

a#nextSlideButton { right: 0; }

a#previousSlideButton:hover, #nextSlideButton:hover { background-color: var(--moderate-hex); }

div#slideshowController { text-align: center; }

span.slideshowControllerDot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: var(--light-hex);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

span.activeDot, span.slideshowControllerDot:hover { background-color: var(--moderate-hex); }

div.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from { opacity: 0.4; } to { opacity: 1; }
}

@keyframes fade {
	from { opacity: 0.4; } to { opacity: 1; }
}
