body {
	background-color: var(--dark-hex);
	color: var(--light-hex);
	font-family: monospace;
	font-size: 12pt;
	text-align: center;
}

h1, h2, h3, h4, h5, h6, a, a:visited, th, b { color: var(--primary-hex); }

hr { border-color: inherit; }

img.halfWidth, img.fullWidth {
	float: center;
	display: block;
	margin: 0 auto;
	max-width: 512px;
	height: auto;
}

img.halfWidth { width: 50%; }

img.fullWidth { width: 100%; }

div.imagelinks {
	float: center;
	display: block;
	margin: 0 auto;
	display: inline-block;
}

div.imagelinks img {
	max-width: 32px;
	height: auto;
	float: left;
}

a.buttonlink {
	float: center;
	display: block;
	color: var(--light-hex);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: var(--moderate-hex);
}

a.buttonlink:hover {
	background-color: var(--light-hex);
	color: var(--dark-hex);
}

table {
	width: 100%;
	border: 1px solid var(--moderate-hex);
	border-collapse: collapse;
}

th, td {
	border: 1px solid var(--moderate-hex);
	border-collapse: collapse;
	padding: 2px;
}

table.striped { background-color: var(--light-hex); }

table.striped tr:nth-child(even) { background-color: var(--moderate-hex); }

ul, ol { text-align: left; }

div.overflow {
	width: 100%;
	overflow: auto;
}
