:root {
	--primary-hex: #50c878;
	--secondary-hex: #5078c8;
	--tertiary-hex: #c80815;

	--dark-hex: #222222;
	--moderate-hex: #333333;
	--light-hex: #fffff0;

	--success-hex: #32cd32;
	--warning-hex: #fdee00;
	--error-hex: #ff2400;
	--info-hex: #007fff;

	--mobile-width: 1000px;
	--sidenav-width: 220px;
}