@import url(https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu%20Mono);

$font-sans-serif: "Ubuntu", sans-serif;
$font-monospace: "Ubuntu Mono", monospace;

$mobile-breakpoint: 800px;

$white: #ffffff;
$black: #000000;

// "Caterpillar" color scheme by Xanycki
$light-emerald: #9ceea6;
$emerald: #50c878;
$dark-emerald: #437f66;
$very-dark-emerald: #344a47;
$black-emerald: #121411;
$light-yellow: #eada9c;
$yellow: #d0af6c;
$light-teal: #9deece;
$teal: #6ccaa6;
$light-gray: #292f2f;
$gray: #1b1f1e;
$dark-gray: #0e0e0e;
$light-gray-blue: #cae0ee;
$gray-blue: #96b6cb;
$light-magenta: #f2e0fa;
$magenta: #d7b5e7;
$light-pink: #f5dbdc;
$pink: #dfabaf;
