@import url(https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu%20Mono);

$font-sans-serif: "Ubuntu", sans-serif;
$font-monospace: "Ubuntu Mono", monospace;

$mobile-breakpoint: 800px;

$white: #ffffff;
$black: #000000;

// Dark theme color scheme.
$charcoal: #272727;
$gray: #b3b3b3;
$orange: #ff9670;
$yellow: #c7b300;
$jade: #18cd85;

// Light theme color scheme.
$electric-blue: #065d6b;
$pea-green: #476119;
$blush-pink: #b3003e;
$orchid-purple: #961d94;

// Themed variables. Light and dark themes are set up in the global stylesheet.
$background-color: var(--background-color);
$text-color: var(--text-color);
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$tertiary-color: var(--tertiary-color);
