@use "variables" as *;

:root {
  font-family: $font-sans-serif;
  color: $text-color;
  background-color: $background-color;

  code {
    font-family: $font-monospace;
  }

  a {
    color: $primary-color;
  }
}
