@use "variables" as *;

:root {
  font-family: $font-sans-serif;
  color: $white;
  background-color: $dark-gray;

  code {
    font-family: $font-monospace;
  }

  a {
    color: $emerald;
  }

  // Switch some colors for light theme.
  @media (prefers-color-scheme: light) {
    color: $dark-gray;
    background-color: $white;

    a {
      color: $dark-emerald;
    }
  }
}
