@use "variables" as *;

:root {
  font-family: $font-sans-serif;
  color: $text-color;
  background-color: $background-color;

  code {
    font-family: $font-monospace;
  }

  a {
    color: $primary-color;
  }

  button {
    color: $background-color;
    background-color: $text-color;
    border: 1px solid $text-color;
    padding: 6px 8px;

    &:hover {
      color: $text-color;
      background-color: $background-color;
      border: 1px solid $primary-color;
    }
  }

  table, th, td {
    border: 1px solid $primary-color;
    border-collapse: collapse;
  }
}
