@use "variables" as *;

article.mdx-article {
  display: grid;
  grid-template-columns: 1fr min(65ch, 100%) 1fr;
  font-size: 1.2em;

  & > * {
    grid-column: 2;

    &.full-bleed {
      width: 100%;
      grid-column: 1 / 4;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: $primary-color;
  }

  hr {
    width: 100%;
  }

  img {
    display: block;
    margin: auto;
  }

  em {
    color: $tertiary-color;
  }

  strong {
    color: $secondary-color;
  }

  table, th, td {
    border: 1px solid $primary-color;
    border-collapse: collapse;
    padding: 5px;
  }
}
