@use "variables" as *;

article.mdx-article {
  display: grid;
  grid-template-columns: 1fr min(65ch, 100%) 1fr;
  font-size: 1.2em;

  & > * {
    grid-column: 2;

    &.full-bleed {
      width: 100%;
      grid-column: 1 / 4;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: $light-emerald;
  }

  hr {
    width: 100%;
  }

  img {
    display: block;
    margin: auto;
  }

  em {
    color: $light-teal;
  }

  strong {
    color: $light-yellow;
  }

  table, th, td {
    border: 1px solid $light-emerald;
    border-collapse: collapse;
    padding: 5px;
  }

  // Switch some colors for light theme.
  @media (prefers-color-scheme: light) {
    h1, h2, h3, h4, h5, h6 {
      color: $dark-emerald;
    }

    em {
      color: $pink;
    }

    strong {
      color: $yellow;
    }

    table, th, td {
      border: 1px solid $dark-emerald;
    }
  }
}
