@use 'modules/variables' as v;
@use 'modules/themify' as t;
@use 'modules/themes';

body {
	@include t.themify(themes.$themes) {
		div.filter {
			border: 1px solid t.themed('foreground-hex');
			
			& > div.filter-controller {
				overflow: hidden;
				border: 1px solid t.themed('foreground-hex');
				background-color: t.themed('foreground-hex');
				color: t.themed('accent-hex');

				& > button.filter-button {
					background-color: t.themed('foreground-hex');
					color: t.themed('accent-hex');
					padding: v.$filter-button-padding;
					float: left;

					&:hover, &.active {
						background-color: t.themed('accent-hex');
						color: t.themed('foreground-hex');
					}
				}
			}

			& > div.filter-content {
				overflow: hidden;

				& > div.filter-item {
					float: left;
					border: 1px solid t.themed('foreground-hex');
					margin: v.$filter-item-margin;
					display: none;

					&.active { display: block; }
				}
			}
		}
	}
}